.container{
    margin: 40px auto;
}

.caption{
    min-height:165px;
    margin-top: 20px;
}


.btns-row{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    position: fixed;
    margin-bottom: 30px;
    width: 250px;
}

h4 a{
    color: black;
}

.table img{
    width: 80px;
}

@media (max-width: 992px) {
    .sidebar{
        position: relative;
        width: 100%;
    }  
}

.itemButton{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}
.btn-outline-dark{
    margin-left: 15px;
}

.thumbnail{
    overflow: hidden;
}


.products .products-list{
    display: inline-block;
    float: none;
    vertical-align: top;
}

.dropdown .btn-inverse{
    background:#f47723;
    transition: all 0.5s ease-out;
}

.dropdown .btn-inverse:hover{
    background:#d45d0d;
}

#dLabel{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.caption-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption {
    height: 230px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
    font-size: 20px;
}
.thumbnail .caption-full {
    color: #333;
    padding-top: 16px;
    border-top: 1px dotted #f47723;
    margin-top: 41px;
}
.ab-details-info{
    margin-left: 15px;
    font-size:18px;
    color: #777;
}
.column{
    border-bottom:1px dashed #E5E5E5;
    display: flex;
    align-items: center;
}

.column .ab-details-title{
    font-size: 1.5em;
    color: #666;
}
h2,h3{
    margin: 20px 0;
}

.column  p{
    margin: 0.7em 0;
}
.delItem{
    cursor: pointer;
    color: #666;
}


.delItem:hover{
    color: black;
}

.btn-outline-dark,
.control-buttons .btn-dark,
.btns-row .btn-dark{
    padding: 0;
}

.control-buttons .btn-dark a,
.btns-row .btn-dark a{
    display: block;
    height: 100%;
    padding: 10px;
}

.btn-outline-dark a{
    color: black;
    display: block;
    height: 100%;
    padding: 10px;
}

.btn-outline-dark:hover a{
    color: white;
}

.control-buttons{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.control-buttons button a,
.btn-dark a{
    color: #fff;
    text-decoration: none;
}

button a:hover{
    color: #fff;
    text-decoration: none;
}

.totalPrice{
    font-size: 25px;
}








